/* Header*/
header
{
	margin-bottom: 50px;
}
/* Fin Header*/

/* body*/

/* Fin body*/

/* footer*/
footer
{
	margin-top: 230px;
	height: 200px;
	padding-top: 50px
}

#admintext
{
	color: lightgrey;
}


#footer
{
	background-color:  #222;
}
#creditblock
{
	background-color: darkgrey;
}

#credit 
	{
		display: flex; 
		justify-content: center;
		padding-top: 10px;
		
		text-align: center;
		background-color: white;

		background-color: lightgrey;
	}

#alaska
{
	background-image: url("../images/trois.jpg");
	height:530px;
	padding-top: 150px
}

#work
{
	padding-top: 150px;
	margin-bottom: 120px;
	height: 400px;
	background-image: url("../images/cinq.jpg");
	color: lightgrey;
}

#workflow
{
	border-radius: 0px;
	background-color: #669999;
	color: white;
	
}

#actuality
{
	height: 120px;
	text-align: center;
	display: flex;
	align-items: center;
	margin-top: 60px;
	border-radius: 0px;
	background-color: #006666;
	color: white;
}


#hometitle
{
	color: white;
}

#homesubtitle
{
	color: lightgrey;
}

#headers
{
	padding-top: 80px;
	margin-bottom: 120px;
	height: 400px;
	background-image: url("../images/quatre.jpg");
	
}

#headerseparator
{
	margin: 80px 0 80px 0;
	height: 180px;
	background-color: white;
}

#separator
{
	margin: 80px 0 80px 0;
	height: 250px;
	background-color: #669999;
}

#contact
{
	background-color: #669999;
	padding-bottom: 90px;
	color: white;
}

.btn
{
	border-radius: 0px;
	
}

.btn-primary
{
	background-color: #006666;
	border: none;

}

.btn-primary:hover {
    color: #fff;
    background-color: #669999;
    border: none;
    
}

.btn-danger
{
	border: none;
}

.btn-group-vertical
{
	border: none;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.label , .panel , .table
{
	border-radius: 0px;

}

.label
{
	padding: .2em .6em .2em;
    font-size: 60%;
    background-color: #006666;
}


.form-control
{

	border-radius: 0px;
}

.input.btn
{
	border-color: black;
}

#pass
{
	color: #006666;
}